# PostgreSQL
POSTGRES_DB=quickbyte
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_postgres_password

DB_URL=jdbc:postgresql://postgres:5432/quickbyte
DB_USERNAME=quickbyte_user
DB_PASSWORD=your_quickbyte_user_password

# JWT
JWT_SECRET=your_jwt_secret
JWT_EXPIRATION=86400000

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_TIMEOUT=60000

# Mail
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=587
MAIL_USERNAME=your_mailtrap_username
MAIL_PASSWORD=your_mailtrap_password

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret